/* NAVBARSERZ */

body{
    background-color: white;
  }
  
  .topbar{
    box-shadow: 0 5px 5px -5px #9c6830;
    z-index: 1000; 
    position: relative;
  }
  
  .navbar{
      font-family: 'Rethink Sans';
      font-weight: bold;
      font-size: 20px;
      background-color: #fff;
  }
  
  .navbar-brand {
      font-weight: 500;
      color: green;
      font-size: 24px;
      transition: color 0.3s;
  }
  
  .loginbutton {
      background-color: #9c6830;
      color: white;
      font-size: 15px;
      padding: 8px 20px;
      border-radius: 50px;
      text-decoration: none;
      transition: background-color 0.3s;
  }
  
  .loginbutton:hover {
      background-color: #80917D;
  }
  
  .navbar-nav{ 
      justify-content: flex-end;
  }
  .navbar-toggler {
      border: none;
      font-size: 1.25rem;
  }
  
  .navbar-toggler:focus, .btn-close:focus {
      box-shadow: none;
      outline: none;
  }
  
  .nav-link {
      color: grey;
      font-weight: 500;
      position: relative;
  }
  
  .nav-link:hover, .nav-link:active, .nav-link.active {
      color: black;
  }
  
  .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #9c6830;
      visibility: hidden;
      transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .nav-link:hover::before, .nav-link:active::before, .nav-link.active::before {
      width: 100%;
      visibility: visible;
  }

  /* cartz */
.cart-count {
    background-color: #CA763B ;
    color: white;
    border-radius: 12px; /* Adjust the value for rounder or less rounded corners */
    padding: 2px 6px; /* Adjust padding to fit your design */
    font-size: 0.75em; /* Adjust font size to fit your design */
    font-weight: bold;
}

.confirmation-message{
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
}

.confirmation-message a {
    color: #80917D;
    text-decoration: none;
    font-weight: bold;
}

.confirmation-message a:hover {
    text-decoration: underline;
}


/* resibowz */
.invoice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    
}


.invoice {
    width: 700px;
    background: #fff;
    padding: 20px;
    box-shadow: 3px 4px 5px 5px #80917D;
    border-radius: 8px;
    color: #333;
}

.invoice-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.invoice-logo {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-grow: 0.6; 
    text-align: right;
}


.invoice-logo img {
    height: 100px;
    width: auto;
    
}

.invoice-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.invoice-number {
    font-size: 36px;
    color: #999;
}

.invoice-title {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    flex-grow: 0.8; 
}

.invoice-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.invoice-info-left, .invoice-info-right {
    width: 45%;
}

.invoice-info-left {
    text-align: right;
}

.invoice-info-right {
    text-align: right;
}

.invoice-info-item {
    margin-bottom: 10px;
}

.invoice-info-item .label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
    border: none;
    padding: 10px;
}

.invoice-table th {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.invoice-table td {
    border-bottom: 1px solid #ddd;
    border: none;
}

.invoice-table .text-right {
    text-align: right;
}

.invoice-table tfoot td {
    font-weight: bold;
    text-align: right;
    border: none;
}

.line {
    border: none;
    border-top: 2px solid #181414;
    margin: 0;
    width: 100%;
}

