/* NAVBARSERZ */

body{
    background-color: white;
  }
  
  .topbar{
    box-shadow: 0 5px 5px -5px #9c6830;
    z-index: 1000; 
    position: relative;
  }
  
  .navbar{
      font-family: 'Rethink Sans';
      font-weight: bold;
      font-size: 20px;
      background-color: #fff;
  }
  
  .navbar-brand {
      font-weight: 500;
      color: green;
      font-size: 24px;
      transition: color 0.3s;
  }
  
  .loginbutton {
      background-color: #9c6830;
      color: white;
      font-size: 15px;
      padding: 8px 20px;
      border-radius: 50px;
      text-decoration: none;
      transition: background-color 0.3s;
  }
  
  .loginbutton:hover {
      background-color: #80917D;
  }
  
  .navbar-nav{ 
      justify-content: flex-end;
  }
  .navbar-toggler {
      border: none;
      font-size: 1.25rem;
  }
  
  .navbar-toggler:focus, .btn-close:focus {
      box-shadow: none;
      outline: none;
  }
  
  .nav-link {
      color: grey;
      font-weight: 500;
      position: relative;
  }
  
  .nav-link:hover, .nav-link:active, .nav-link.active {
      color: black;
  }
  
  .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #9c6830;
      visibility: hidden;
      transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .nav-link:hover::before, .nav-link:active::before, .nav-link.active::before {
      width: 100%;
      visibility: visible;
  }

  /* contentss */
.breadcrumb {
    text-decoration: none;
    color: #888;
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: bold;
    margin-left: 35%;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #555;
    font-family: Montserrat;
}

.breadcrumb a + a::before {
    content: " > ";
    margin: 0 5px;
}

.prods-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 2 columns: left side image and right side products */
    gap: 20px; /* Space between the two columns */
}

.section {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.text {
    transition: opacity 0.3s ease-in-out;
    font-family: Montserrat;
    font-weight: bold;
}

.left-side {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 3px;
    box-sizing: border-box;
    overflow-y: auto;
}

.product {
    background-color: #fff;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative; /* Ensure the product container can position its children */
}

.image-container {
    position: relative;
    width: 100%;
    height: 260px; /* Fixed height for all images to make them equal */
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 5px;
    background-color: #f0f0f0; /* Same gray background as container */
}


.view-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}


.product:hover .view-form {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    transition: opacity 0.3s;
}

.view-now {
    border: none;
    padding: 10px 25px;
    font-size: 15px; /* Adjusted font size */
    position: relative;
    background: transparent;
    color: white;
    text-transform: uppercase;
    border: 3px solid #80917D;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;
    z-index: 1; /* Ensure the button stays on top of other elements */
    font-family: Rethink Sans;
    font-weight: bold;
}

.view-now:hover {
    color: white;
}

.view-now span {
    transition: all 0.7s;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 25%;
    background: #80917D;
}

.view-now .first {
    top: 0;
    right: 100%;
}

.view-now:hover .first {
    right: 0;
}

.view-now .second {
    top: -100%;
    left: 25%;
}

.view-now:hover .second {
    top: 0;
    left: 50%;
}

.view-now .third {
    top: 100%;
    left: 50%;
}

.view-now:hover .third {
    top: 0;
    left: 25%;
}

.view-now .fourth {
    top: 0;
    left: 100%;
}

.view-now:hover .fourth {
    left: 0;
}

.product-name {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
    font-family: Montserrat;
    font-weight: bold;
}

.price{
    font-family: Display Fair;
    font-size: 1.3em;
}